# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
*.tsbuildinfo
.next/
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
logs/

# os
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp

# drizzle
drizzle/meta/

# misc
coverage/